 <table class="tbl-typical">
                            <tr>
                                <th><div>Status</div></th>
                                <th><div>Subject</div></th>
                                <th align="center"><div>Ends</div></th>
                                <th align="center">Download</th>
                            </tr>
                            <tr>
                                <td>
                                    <span class="label label-success">Active</span>
                                </td>
                                <td>Policy 1</td>
                                <td nowrap align="center">2018</td>
                                <td align="center"><a href="#">Download</a> </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="label label-success">Active</span>
                                </td>
                                <td>Policy 2</td>
                                <td nowrap align="center">2020</td>
                                <td align="center"><a href="#">Download</a> </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="label label-default">Inactive</span>
                                </td>
                                <td>Policy 3</td>
                                <td nowrap align="center"><span class="semibold">2016</span></td>
                                <td align="center"><a href="#">Download</a> </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="label label-success">Active</span>
                                </td>
                                <td>Policy 4</td>
                                <td nowrap align="center">2018</td>
                                <td align="center"><a href="#">Download</a> </td>
                            </tr>
                        </table>