<div class="container-fluid">
    <div class="row">
        <div class="col-xl-6">
            <div class="chart-statistic-box">
                <div class="chart-txt">
                    <div class="chart-txt-top">
                        <p><span class="unit">$</span><span class="number">1540</span></p>
                        <p class="caption">Week income</p>
                    </div>
                    <table class="tbl-data">
                        <tr>
                            <td class="price color-purple">120$</td>
                            <td>Orders</td>
                        </tr>
                        <tr>
                            <td class="price color-yellow">15$</td>
                            <td>Insurance</td>
                        </tr>
                        <tr>
                            <td class="price color-lime">55$</td>
                            <td>Others</td>
                        </tr>
                    </table>
                </div>
                <div class="chart-container">
                    <div class="chart-container-in">
                        <div id="chart_div"></div>
                        <header class="chart-container-title">Income</header>
                        <div class="chart-container-x">
                            <div class="item"></div>
                            <div class="item">tue</div>
                            <div class="item">wed</div>
                            <div class="item">thu</div>
                            <div class="item">fri</div>
                            <div class="item">sat</div>
                            <div class="item">sun</div>
                            <div class="item">mon</div>
                            <div class="item"></div>
                        </div>
                        <div class="chart-container-y">
                            <div class="item">300</div>
                            <div class="item"></div>
                            <div class="item">250</div>
                            <div class="item"></div>
                            <div class="item">200</div>
                            <div class="item"></div>
                            <div class="item">150</div>
                            <div class="item"></div>
                            <div class="item">100</div>
                            <div class="item"></div>
                            <div class="item">50</div>
                            <div class="item"></div>
                        </div>
                    </div>
                </div>
            </div><!--.chart-statistic-box-->
        </div><!--.col-->
        <div class="col-xl-6">
            <div class="row">
                <div class="col-sm-6">
                    <article class="statistic-box red">
                        <div>
                            <div class="number">26</div>
                            <div class="caption"><div>Insurance</div></div>
                            <div class="percent">
                                <div class="arrow up"></div>
                                <p>15%</p>
                            </div>
                        </div>
                    </article>
                </div><!--.col-->
                <div class="col-sm-6">
                    <article class="statistic-box purple">
                        <div>
                            <div class="number">12</div>
                            <div class="caption"><div>Policies</div></div>
                            <div class="percent">
                                <div class="arrow down"></div>
                                <p>11%</p>
                            </div>
                        </div>
                    </article>
                </div><!--.col-->
                <div class="col-sm-6">
                    <article class="statistic-box yellow">
                        <div>
                            <div class="number">104</div>
                            <div class="caption"><div>New clients</div></div>
                            <div class="percent">
                                <div class="arrow down"></div>
                                <p>5%</p>
                            </div>
                        </div>
                    </article>
                </div><!--.col-->
                <div class="col-sm-6">
                    <article class="statistic-box green">
                        <div>
                            <div class="number">29</div>
                            <div class="caption"><div>Total Clients</div></div>
                            <div class="percent">
                                <div class="arrow up"></div>
                                <p>84%</p>
                            </div>
                        </div>
                    </article>
                </div><!--.col-->
            </div><!--.row-->
        </div><!--.col-->
    </div><!--.row-->

    <div class="row">
        <div class="col-xl-6 dahsboard-column">
            <section class="box-typical box-typical-dashboard panel panel-default scrollable">
                <header class="box-typical-header panel-heading">
                    <h3 class="panel-title">Clients Insurance</h3>
                </header>
                <div class="box-typical-body panel-body">
                    <table class="tbl-typical">
                        <tr>
                            <th><div>Status</div></th>
                            <th><div>Clients</div></th>
                            <th align="center"><div>Date</div></th>
                            <th align="center"><div>Download</div></th>
                        </tr>
                        <tr>
                            <td>
                                <span class="label label-primary">Paid</span>
                                <span class="label label-success">Active</span>
                            </td>
                            <td>John Doe</td>
                            <td class="color-blue-grey" nowrap align="center"><span class="semibold">Today</span> 8:30</td>
                            <td align="center"><a href="pdf/1.pdf" target="_blank">Download</a></td>
                        </tr>
                        <tr>
                            <td>
                                <span class="label label-primary">Paid</span>
                                <span class="label label-success">Active</span>
                            </td>
                            <td>Thomas Bayer</td>
                            <td class="color-blue-grey" nowrap align="center"><span class="semibold">Today</span> 16:30</td>
                            <td align="center"><a href="pdf/2.pdf" target="_blank">Download</a></td>
                        </tr>
                        <tr>
                            <td>
                                <span class="label label-primary">Paid</span>
                                <span class="label label-default">Inactive</span>
                            </td>
                            <td>Nicolas Karabat</td>
                            <td class="color-blue-grey" nowrap align="center"><span class="semibold">Yesterday</span></td>
                            <td align="center"><a href="pdf/3.pdf" target="_blank">Download</a></td>
                        </tr>
                        <tr>
                            <td>
                                <span class="label label-default">Unpaid</span>
                                <span class="label label-default">Inactive</span>
                            </td>
                            <td>Alexandre Pome</td>
                            <td class="color-blue-grey" nowrap align="center">23th May</td>
                            <td align="center"><a href="pdf/4.pdf" target="_blank">Download</a></td>
                        </tr>
                        <tr>
                            <td>
                                <span class="label label-primary">Paid</span>
                                <span class="label label-success">Active</span>
                            </td>
                            <td>John Doe</td>
                            <td class="color-blue-grey" nowrap align="center"><span class="semibold">Today</span> 8:30</td>
                            <td align="center"><a href="pdf/5.pdf" target="_blank">Download</a></td>
                        </tr>
                        <tr>
                            <td>
                                <span class="label label-primary">Paid</span>
                                <span class="label label-success">Active</span>
                            </td>
                            <td>Thomas Bayer</td>
                            <td class="color-blue-grey" nowrap align="center"><span class="semibold">Today</span> 16:30</td>
                            <td align="center"><a href="#">Download</a></td>
                        </tr>
                        <tr>
                            <td>
                                <span class="label label-primary">Paid</span>
                                <span class="label label-default">Inactive</span>
                            </td>
                            <td>Nicolas Karabat</td>
                            <td class="color-blue-grey" nowrap align="center"><span class="semibold">Yesterday</span></td>
                            <td align="center"><a href="#">Download</a></td>
                        </tr>
                        <tr>
                            <td>
                                <span class="label label-default">Unpaid</span>
                                <span class="label label-default">Inactive</span>
                            </td>
                            <td>Alexandre Pome</td>
                            <td class="color-blue-grey" nowrap align="center">23th May</td>
                            <td align="center"><a href="#">Download</a></td>
                        </tr>
                    </table>
                </div><!--.box-typical-body-->
            </section><!--.box-typical-dashboard-->
        </div><!--.col-->
        <div class="col-xl-6 dahsboard-column">
            <section class="box-typical box-typical-dashboard panel panel-default scrollable">
                <header class="box-typical-header panel-heading">
                    <h3 class="panel-title">Policy Details</h3>
                </header>
                <div class="box-typical-body panel-body">
                    <table class="tbl-typical">
                        <tr>
                            <th><div>Status</div></th>
                            <th><div>Subject</div></th>
                            <th align="center"><div>Ends</div></th>
                            <th align="center">Download</th>
                        </tr>
                        <tr>
                            <td>
                                <span class="label label-success">Active</span>
                            </td>
                            <td>Policy 1</td>
                            <td nowrap align="center">2018</td>
                            <td align="center"><a href="#">Download</a> </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="label label-success">Active</span>
                            </td>
                            <td>Policy 2</td>
                            <td nowrap align="center">2020</td>
                            <td align="center"><a href="#">Download</a> </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="label label-default">Inactive</span>
                            </td>
                            <td>Policy 3</td>
                            <td nowrap align="center"><span class="semibold">2016</span></td>
                            <td align="center"><a href="#">Download</a> </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="label label-success">Active</span>
                            </td>
                            <td>Policy 4</td>
                            <td nowrap align="center">2018</td>
                            <td align="center"><a href="#">Download</a> </td>
                        </tr>
                    </table>
                </div><!--.box-typical-body-->
            </section><!--.box-typical-dashboard-->
        </div><!--.col-->
    </div>
</div><!--.container-fluid-->