<table class="tbl-typical">
                            <tr>
                                <th><div>Status</div></th>
                                <th><div>Clients</div></th>
                                <th align="center"><div>Date</div></th>
                                <th align="center"><div>Download</div></th>
                            </tr>
                            <tr>
                                <td>
                                    <span class="label label-primary">Paid</span>
                                    <span class="label label-success">Active</span>
                                </td>
                                <td>John Doe</td>
                                <td class="color-blue-grey" nowrap align="center"><span class="semibold">Today</span> 8:30</td>
                                <td align="center"><a href="pdf/1.pdf" target="_blank">Download</a></td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="label label-primary">Paid</span>
                                    <span class="label label-success">Active</span>
                                </td>
                                <td>Thomas Bayer</td>
                                <td class="color-blue-grey" nowrap align="center"><span class="semibold">Today</span> 16:30</td>
                                <td align="center"><a href="pdf/2.pdf" target="_blank">Download</a></td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="label label-primary">Paid</span>
                                    <span class="label label-default">Inactive</span>
                                </td>
                                <td>Nicolas Karabat</td>
                                <td class="color-blue-grey" nowrap align="center"><span class="semibold">Yesterday</span></td>
                                <td align="center"><a href="pdf/3.pdf" target="_blank">Download</a></td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="label label-default">Unpaid</span>
                                    <span class="label label-default">Inactive</span>
                                </td>
                                <td>Alexandre Pome</td>
                                <td class="color-blue-grey" nowrap align="center">23th May</td>
                                <td align="center"><a href="pdf/4.pdf" target="_blank">Download</a></td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="label label-primary">Paid</span>
                                    <span class="label label-success">Active</span>
                                </td>
                                <td>John Doe</td>
                                <td class="color-blue-grey" nowrap align="center"><span class="semibold">Today</span> 8:30</td>
                                <td align="center"><a href="pdf/5.pdf" target="_blank">Download</a></td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="label label-primary">Paid</span>
                                    <span class="label label-success">Active</span>
                                </td>
                                <td>Thomas Bayer</td>
                                <td class="color-blue-grey" nowrap align="center"><span class="semibold">Today</span> 16:30</td>
                                <td align="center"><a href="#">Download</a></td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="label label-primary">Paid</span>
                                    <span class="label label-default">Inactive</span>
                                </td>
                                <td>Nicolas Karabat</td>
                                <td class="color-blue-grey" nowrap align="center"><span class="semibold">Yesterday</span></td>
                                <td align="center"><a href="#">Download</a></td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="label label-default">Unpaid</span>
                                    <span class="label label-default">Inactive</span>
                                </td>
                                <td>Alexandre Pome</td>
                                <td class="color-blue-grey" nowrap align="center">23th May</td>
                                <td align="center"><a href="#">Download</a></td>
                            </tr>
                        </table>